
.container2 {
    
}
.col h2{
    padding: 20px;

}
.container{
    padding: 0px;
}
.container ul {
    list-style-type: none;
}

.container ul li, .footer {
    display: inline-block;
    margin-left: 25px;
}

.col {
    align-self: start;
}
