
.container2 {
    
}
.col h2{
    padding: 20px;

}
.container{
    padding: 0px;
}
.container ul {
    list-style-type: none;
}

.container ul li{
    display: inline-block;
    margin-left: 15px;
}

.col {
    align-self: start;
}

.footer ul{
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    margin-left: 25px;